/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

.portfolio__projects {
	display: flex;
	justify-content: center;
}

.portfolio__projects-title, .login h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1D6154;
    text-align: center;
}

.portfolio__projects a {
	text-decoration: none;
	color: black;
	width: 0%;
	display: flex;
	height: 50%;
	position: relative;
	top: 12px;
	left: 31px;
}

.portfolio__projects a i {
	height: 50%;
	margin-right: 10px;
}

.portfolio__projects-title h2 {
	width: 100%;
}

.portfolio__edit-btn {
	font-size: 14px;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav li a {
	text-decoration: none;
	color: black;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.portfolio__gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.portfolio__gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

.portfolio__projects-title {
	display: flex;
	justify-content: center;
}

.portfolio__filters {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.portfolio__filters--btn, .login-form__login--btn, .modal-wrapper__add-btn {
	font-family: 'Syne';
	color: #1D6154;
	font-size: 16px;
	font-weight: 700;
	background-color: white;
	border: none;
	margin: 21px 10px 51px 10px;
	padding: 9px 22px 9px 22px;
	border: #1D6154 1px solid;
	border-radius: 60px;
}

.login-form__login--btn, .modal-wrapper__add-btn {
	background-color: #1D6154;
	color: white;
}

.btn-active {
	background-color: #1D6154;
	color: white;
}

.login {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login h2 {
	margin-bottom: 30px;
}

.login-form, .modal-wrapper__add-work {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.login-form label, .modal-wrapper__add-work label {
	margin-bottom: 7px;
	font-weight: 500;
}

.modal-wrapper__add-work label {
	margin-bottom: 10px;
}

.login-form__email, .login-form__password, .modal-wrapper__add-work-title, .modal-wrapper__add-work-categorie {
	display: flex;
	flex-direction: column;
	margin-bottom: 30px;
	width: 33%;
}

.modal-wrapper__add-work-title, .modal-wrapper__add-work-categorie {
	width: 75%;
}

.login-form__login {
	margin-bottom: 30px;
}

.login-form__input {
	height: 51px;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 0px;
}

.login-form__forgot-password {
	text-decoration: underline;
	color: black;
}

.login-form__login--btn {
	margin: 7px 0px 0px 0px;
	padding: 14px 42px 14px 42px;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
}

.modal-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
	max-width: 630px;
	height: 688px;
    width: 50%;
	position: fixed;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal-wrapper__close {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.modal__close-btn {
    background-color: white;
    border: none;
    font-size: 12px;
    border-radius: 10px;
	cursor: pointer;
}

.modal-wrapper h3 {
    font-size: 26px;
    font-family: 'Syne';
    font-weight: 400;
    margin-bottom: 5.5%;
}

hr {
    width: 75%;
	margin-top: 5.5%;
    border: 1px #B3B3B3 solid;
}

.modal-wrapper__list-elements {
    display: flex;
    flex-wrap: wrap;
	margin: 0px 0px 0px 10%;
}

.modal-wrapper__elements {
    width: 16%;
    margin: 2.8% 0.9% 2.8% 0.9%;
	position: relative;
}

.modal-wrapper__elements img {
    max-width: 100%;
    height: auto;
}

.modal-wrapper__add-btn {
	margin: 4.5%;
}

.deleted-button {
  width: 17px;
  height: 17px;
  background-color: black;
  border: none;
  color: white;
  font-size: 14px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 6px;
  right: 6px;
  border-radius: 2px;
  z-index: 1;
}

.deleted-button i {
	font-size: 100%;
}

.modal-wrapper__add-work-dropzone {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 169px;
	background-color: #E8F1F6;
	border-radius: 3px;
	width: 75%;
	margin-bottom: 30px;
}

.modal-wrapper__add-work-dropzone i {
	font-size: 80px;
	color: #B9C5CC;
}

.modal-wrapper__add-work-dropzone-btn {
	color: #306685;
	background-color: #CBD6DC;
	padding: 10px 33px 10px 33px;
	border-radius: 50px;
	border: none;
	font-size: 14px;
	font-family: 'Work Sans';
	font-weight: 500;
	margin: 7px;
}

.modal-wrapper__add-work-dropzone p {
	margin-bottom: 10px;
}

#imageDropzone {
    text-align: center;
    max-width: 100%;
    max-height: 300px;
	margin: 20px;
    overflow: hidden;
}

#imagePreviewContainer {
    display: none;
    max-width: 100%; /* La largeur maximale de la prévisualisation de l'image */
    max-height: 100%; /* La hauteur maximale de la prévisualisation de l'image */
}

#imagePreview {
    max-width: 100%; /* La largeur maximale de la prévisualisation de l'image */
    max-height: 100%; /* La hauteur maximale de la prévisualisation de l'image */
}